<div class="hero-unit">
  <h1>Welcome to fakebook</h1>
  <br>
  <form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <br>
    <div>
        <input type="submit" value="Log In" class='btn' />
    </div>
	</form>
  <br>
  <br>
  <p>Don't have an account yet?</p>
  <a href='#/newAccount' class='btn'>Create Account</a>
</div>
